{% extends "base.html" %}
{% load static %}

{% block pageTitle %}
    Home Page
{% endblock pageTitle %}

{% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/img/favicon.ico' %}">
{% endblock favicon %}

{% block content %}
    {% include "blog/includes/nav-bar.html" %}

    <div class="container">
        <div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
            <div class="pl-4 pr-0 h-100 tofront">
                <div class="row justify-content-between">
                    <div class="col-md-6 pt-6 pb-6 align-self-center">
                        <h1 class="secondfont mb-3 font-weight-bold">{{ main_post.title }}</h1>
                        <p class="mb-3">
                            {{ main_post.content }}
                        </p>
                        <a href="./article.html" class="btn btn-dark">Read More</a>
                    </div>
                    <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({% static main_post.image_url %});"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-0 mb-4 box-shadow h-xl-300">              
                    <div style="background-image: url({% static top_posts_row.image_url %}); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>               
                    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                        <h2 class="h4 font-weight-bold">
                        <a class="text-dark" href="./article.html">{{ top_posts_row.title }}</a>
                        </h2>
                        <p class="card-text">
                            {{ top_posts_row.content }}
                        </p>
                        <div>
                            <small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
                            <small class="text-muted">Dec 12 &middot; 5 min read</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="flex-md-row mb-4 box-shadow h-xl-300">
                    {% for top_post_col in top_posts_col %}
                        <div class="mb-3 d-flex align-items-center">
                            <img height="80" src="{% static top_post_col.image_url %}">
                            <div class="pl-3">
                                <h2 class="mb-2 h6 font-weight-bold">
                                <a class="text-dark" href="./article.html">{{ top_post_col.title }}</a>
                                </h2>
                                <div class="card-text text-muted small">
                                    Jake Bittle in LOVE/HATE
                                </div>
                                <small class="text-muted">Dec 12 &middot; 5 min read</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-8">
                <h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
                {% for story in all_stories %}
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="pr-3">
                            <h2 class="mb-1 h4 font-weight-bold">
                            <a class="text-dark" href="./article.html">{{ story.title }}</a>
                            </h2>
                            <p>
                                {{ atory.content }}
                            </p>
                            <div class="card-text text-muted small">
                                Jake Bittle in SCIENCE
                            </div>
                            <small class="text-muted">Dec 12 &middot; 5 min read</small>
                        </div>
                        <img height="120" src="{% static story.image_url %}">
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 pl-4">
                <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
                <ol class="list-featured">
                    {% for story in popular_stories %}
                        <li>
                            <span>
                                <h6 class="font-weight-bold">
                                    <a href="./article.html" class="text-dark">{{ story.title }}</a>
                                </h6>
                                <p class="text-muted">
                                    Jake Bittle in SCIENCE
                                </p>
                            </span>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    {% include "blog/includes/footer.html" %}

{% endblock content %}